In [55]:
import pandas as pd
import numpy as np

In [34]:
df=pd.read_csv('heart.csv')

In [56]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [36]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [50]:
def remove_outliers_zscore(df, threshold=3):
    # Identify numeric columns
    numeric_columns = df.select_dtypes(include=[np.number]).columns
    
    # Calculate Z scores only for numeric columns
    z_scores_numeric = (df[numeric_columns] - df[numeric_columns].mean()) / df[numeric_columns].std()
    
    # Combine Z scores with non-numeric columns
    df_with_zscores = pd.concat([z_scores_numeric, df[df.columns.difference(numeric_columns)]], axis=1)
    
    # Remove outliers based on Z scores
    is_outlier = (np.abs(z_scores_numeric) < threshold).all(axis=1)
    filtered_df = df[is_outlier]
    
    return filtered_df

In [61]:
new_data = remove_outliers_zscore(df,threshold=3)

In [62]:
new_data

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [69]:
new_data['ChestPainType'].nunique()

4

In [65]:
new_num_data=pd.get_dummies(new_data,drop_first=True)

In [66]:
new_num_data.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,True,True,False,False,True,False,False,False,True
1,49,160,180,0,156,1.0,1,False,False,True,False,True,False,False,True,False
2,37,130,283,0,98,0.0,0,True,True,False,False,False,True,False,False,True
3,48,138,214,0,108,1.5,1,False,False,False,False,True,False,True,True,False
4,54,150,195,0,122,0.0,0,True,False,True,False,True,False,False,False,True

In [70]:
new_num_data['ChestPainType_ATA'] = new_num_data['ChestPainType_ATA'].astype(int)

In [71]:
new_num_data['ChestPainType_NAP'] = new_num_data['ChestPainType_NAP'].astype(int)
new_num_data['ChestPainType_TA'] = new_num_data['ChestPainType_TA'].astype(int)
new_num_data['RestingECG_Normal'] = new_num_data['RestingECG_Normal'].astype(int)
new_num_data['RestingECG_ST'] = new_num_data['RestingECG_ST'].astype(int)
new_num_data['ExerciseAngina_Y'] = new_num_data['ExerciseAngina_Y'].astype(int)
new_num_data['ST_Slope_Flat'] = new_num_data['ST_Slope_Flat'].astype(int)
new_num_data['ST_Slope_Up'] = new_num_data['ST_Slope_Up'].astype(int)
new_num_data['Sex_M'] = new_num_data['Sex_M'].astype(int)

In [72]:
new_num_data.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
0,40,140,289,0,172,0.0,0,1,1,0,0,1,0,0,0,1
1,49,160,180,0,156,1.0,1,0,0,1,0,1,0,0,1,0
2,37,130,283,0,98,0.0,0,1,1,0,0,0,1,0,0,1
3,48,138,214,0,108,1.5,1,0,0,0,0,1,0,1,1,0
4,54,150,195,0,122,0.0,0,1,0,1,0,1,0,0,0,1

In [76]:
X=new_num_data.drop('HeartDisease',axis='columns')
y=new_num_data['HeartDisease']

In [79]:
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 899, dtype: int64

In [73]:
from sklearn.preprocessing import StandardScaler

In [80]:
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)
X_scaled

array([[-1.42815446,  0.46590022,  0.84963584, ..., -0.8229452 ,
        -0.99888827,  1.13469459],
       [-0.47585532,  1.63471366, -0.16812204, ..., -0.8229452 ,
         1.00111297, -0.88129441],
       [-1.7455875 , -0.1185065 ,  0.79361247, ..., -0.8229452 ,
        -0.99888827,  1.13469459],
       ...,
       [ 0.3706328 , -0.1185065 , -0.62564622, ...,  1.21514774,
         1.00111297, -0.88129441],
       [ 0.3706328 , -0.1185065 ,  0.35476274, ..., -0.8229452 ,
         1.00111297, -0.88129441],
       [-1.63977649,  0.34901888, -0.21480818, ..., -0.8229452 ,
        -0.99888827,  1.13469459]])

In [81]:
from sklearn.model_selection import train_test_split

In [82]:
X_train, X_test, y_train, y_test =train_test_split(X_scaled,y,test_size=0.2)

In [83]:
from sklearn.linear_model import LogisticRegression

In [86]:
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [87]:
model_params = {
    'svm' : {
        'model': SVC(gamma='auto'),
        'params': {
            'C':[1,10,20],
            'kernel':['rbf','linear']

        }
    },
    'Random Forest' : {
        'model': RandomForestClassifier(),
        'params': {
            'n_estimators' : [1,5,10]
        }
    },
    'LogisticRegression':{
        'model' : LogisticRegression(),
         'params': {}
    
    
}
}

In [88]:
from sklearn.model_selection import GridSearchCV

In [90]:
score=[]
for model_name,mp in model_params.items():
    clf=GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=False)
    clf.fit(X_train,y_train)
    score.append({
        'model':model_name,
        'best_score':clf.best_score_,
        'best parameter':clf.best_params_
    })

In [91]:
result=pd.DataFrame(score)
result

                model  best_score             best parameter
0                 svm    0.872038  {'C': 1, 'kernel': 'rbf'}
1       Random Forest    0.855342       {'n_estimators': 10}
2  LogisticRegression    0.870668                         {}

In [92]:
RandomForestClassifier(n_estimators=10).fit(X_train,y_train).score(X_test,y_test)

0.8055555555555556

In [93]:
from sklearn.decomposition import PCA

In [94]:
pca=PCA(n_components=5)

In [98]:
X_pca=pca.fit_transform(X)
X_pca.shape

(899, 5)

In [103]:
X_train, X_test, y_train, y_test =train_test_split(X_pca,y,test_size=0.2)
X_train.shape

(719, 5)

In [106]:
RandomForestClassifier(n_estimators=10).fit(X_train,y_train).score(X_test,y_test)

0.7666666666666667

In [107]:
LogisticRegression().fit(X_train,y_train).score(X_test,y_test)

0.8166666666666667

In [108]:
SVC().fit(X_train,y_train).score(X_test,y_test)

0.7611111111111111